@import url('https://fonts.googleapis.com/css?family=Alatsi|Roboto:500,500i&display=swap');

/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
	text-decoration: none;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
font-size: 20px
}

code {
	
}

h1, h2, h3 {

 text-align: center;
 font-family: 'Alatsi', sans-serif;
 line-height: 132.5%;

}

h1 {
	font-size: 2.5em
}

h2 {
font-size: 1.7em;
}

h3 {
	font-size: 1.2em;
}

header {
	
}

main {

}

p {
line-height: 132.5%;
font-family: 'Roboto', sans-serif;
}

#intro {

}

#how-does-it-work, #influence, #joke {
width: 33em;
text-align: center
}